.git
.gitignore
**/__pycache__/
**/*.pyc
venv
.venv
.env
.env.*
tests

# artefatos e caches
build
dist
*.egg-info
.coverage
coverage.xml
.pytest_cache
.mypy_cache

# docs geradas
docs/_build
docs/build
docs/screenshots

# infra/ci
infra/awscliv2.zip
infra/tests
infra/*.md

# editor/IDE
.vscode
.devcontainer
Dockerfile.dev
docker-compose*.yml